@media only screen and (min-width: 1200px) and (max-width: 1450px) { 
    header .logo {
	    max-width: 150px;
	    margin-right: 15px;
	}

	header .menu ul li a {
		font-size: 16px;
	}

	header .menu > ul > li > a {
	    padding: 60px 15px 60px 10px;
	}

	header .button-box .btn {
	    margin-right: 10px;
	    padding: 11px 10px;
	    font-size: 14px;
	}

	#hero-section {
		padding: 0;
	}
}





/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) { 
	h1 {
		font-size: 50px;
	}

	header {
		background: #EEF5F4;
		padding: 20px 0;
	}

	header.active {
	    background: #EEF5F4;
	}

	header.active .logo .logo-small {
	    display: none;
	}

	header.active .logo .logo-big {
	    display: block;
	}

    header .menu {
	    display: none;
	}

	header .mobile-menu {
	    display: block;
	}

	header .button-box .btn {
		padding: 5px;
		border-radius: 50%;
		min-width: 50px;
		height: 50px;
		display: inline-block;
		line-height: 35px;
		margin-right: 15px;
		background: #ED99B5;
	}

	header .button-box .btn .text {
		display: none;
	}

	header .button-primary .icon-left {
	    margin-right: 0;
	}

	header .button-secondary .icon-left {
	    margin-right: 0;
	}

	header .button-box .btn:last-child {
	    margin-right: 10px;
	}

	header .slicknav_menu {
	    padding: 0;
	    background: transparent;
	}

	header .slicknav_btn {
	    margin: 0;
	    text-shadow: none;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    border-radius: 50%;
	    background-color: #65A08C;
	    width: 50px;
		height: 50px;
		text-align: center;
		position: relative;
	}

	header .slicknav_menu .slicknav_icon-bar {
	    width: 25px;
	    height: 3.5px;
	    box-shadow: none;
	}

	header .slicknav_menu .slicknav_no-text {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    width: 26px;
	    height: 18px;
	}

	header .slicknav_nav {
	    position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: #EEF5F4;
		text-align: center;
		min-height: 100vh;
		height: 100%;
	}

	header .slicknav_nav a {
		font-size: 35px;
		font-weight: 500;
		line-height: 55px;
		color: #252C29;
	}

	header .slicknav_nav li ul li a {
		font-size: 25px;
		line-height: 35px;
	}

	#hero-section .hero-section-inner {
	    padding: 100px 0 0;
	}

	#hero-section:before {
	    display: none;
	}

	#hero-section h1 {
		max-width: 595px;
		width: 100%;
		line-height: 60px;
		margin: 0 auto 30px;
	}

	#hero-section .left-area {
	    padding: 100px 0 25px 0;
	    text-align: center;
	}

	#hero-section .left-area p {
		max-width: 736px;
		width: 100%;
		margin: 0 auto 80px;
	}

	#hero-section .right-area .effect-image {
		display: none;
	}

	#hero-section .right-area .featured-image {
	    margin: 0 auto;
	    display: block;
	}

	#hero-section .right-area .testimonial-style-1 {
		left: 50px;
		bottom: -120px;
		max-width: 533px;
	}

	#offer-section {
	    padding: 85px 0 95px;
	}

	#offer-section::before {
	    display: none;
	}

	#offer-section .offer-item {
	    padding: 0 10px;
	}

	#highlight-section {
	    padding: 100px 0 187px;
	}

	#highlight-section .right-area {
		padding: 0;
		max-width: 768px;
		margin: 0 auto 75px;
		text-align: center;
	}

	#highlight-section .left-area {
	    padding-right: 0;
	    text-align: center;
	}

	#useful-section {
	    padding: 90px 0 144px;
	}

	#useful-section::before {
	    display: none;
	}

	#useful-section .tab-items-box {
		padding: 0 50px;
	}

	#clinic-section {
	    padding: 144px 0;
	}

	#clinic-section .left-area {
		padding-right: 0;
	}

	#clinic-section .image-box {
		margin: 0 auto 30px;
	}

	#clinic-section .right-area {
	    padding-left: 50px;
	    max-width: 656px;
	    width: 100%;
	}

	#testimonials-section {
	    padding: 0 0 200px;
	}

	#testimonials-section .testimonials-section-inner {
	    padding: 120px 50px 0;
	}

	footer .footer-top {
	    padding: 72px 50px 84px;
	}
}





/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
	h1 {
		font-size: 50px;
	}

	header {
		background: #EEF5F4;
		padding: 0;
	}

	header.active {
	    background: #EEF5F4;
	}

	header .logo {
		max-width: 120px;
	}

	header.active .logo .logo-small {
	    display: none;
	}

	header.active .logo .logo-big {
	    display: block;
	}

    header .menu {
	    display: none;
	}

	header .mobile-menu {
	    display: block;
	}

	header .button-box .btn {
		padding: 5px;
		border-radius: 50%;
		min-width: 40px;
		height: 40px;
		display: inline-block;
		line-height: 26px;
		margin-right: 5px;
		background: #ED99B5;
	}

	header .button-box .btn .text {
		display: none;
	}

	header .button-primary .icon-left {
	    margin-right: 0;
	}

	header .button-secondary .icon-left {
	    margin-right: 0;
	}

	header .button-box .btn:last-child {
	    margin-right: 10px;
	}

	header .slicknav_menu {
	    padding: 0;
	    background: transparent;
	}

	header .slicknav_btn {
	    margin: 0;
	    text-shadow: none;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    border-radius: 50%;
	    background-color: #65A08C;
	    width: 40px;
		height: 40px;
		text-align: center;
		position: relative;
	}

	header .slicknav_menu .slicknav_icon-bar {
	    width: 20px;
	    height: 2px;
	    box-shadow: none;
	}

	header .slicknav_menu .slicknav_no-text {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    width: 20px;
	    height: 12px;
	}

	header .slicknav_nav {
	    position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: #EEF5F4;
		text-align: center;
		height: 100vh;
	}

	header .slicknav_nav a {
		font-size: 35px;
		font-weight: 500;
		line-height: 55px;
		color: #252C29;
	}

	header .slicknav_nav li ul li a {
		font-size: 25px;
		line-height: 35px;
	}

	#hero-section .hero-section-inner {
	    padding: 100px 0 0;
	}

	#hero-section:before {
	    display: none;
	}

	#hero-section h1 {
		max-width: 595px;
		width: 100%;
		line-height: 60px;
		margin: 0 auto 30px;
	}

	#hero-section .left-area {
	    padding: 100px 0 25px 0;
	    text-align: center;
	}

	#hero-section .left-area p {
		max-width: 736px;
		width: 100%;
		margin: 0 auto 80px;
	}

	#hero-section .right-area .effect-image {
		display: none;
	}

	#hero-section .right-area .featured-image {
	    margin: 0 auto;
	    display: block;
	}

	#hero-section .right-area .testimonial-style-1 {
		left: 50px;
		bottom: -120px;
		max-width: 533px;
	}

	#offer-section {
	    padding: 85px 0 95px;
	}

	#offer-section::before {
	    display: none;
	}

	#offer-section .offer-item {
	    padding: 0 10px;
	}

	#highlight-section {
	    padding: 100px 0 187px;
	}

	#highlight-section .right-area {
		padding: 0;
		max-width: 768px;
		margin: 0 auto 75px;
		text-align: center;
	}

	#highlight-section .left-area {
	    padding-right: 0;
	    text-align: center;
	}

	#useful-section {
	    padding: 90px 0 144px;
	}

	#useful-section::before {
	    display: none;
	}

	#useful-section .tab-items-box {
		padding: 0 50px;
	}

	#clinic-section {
	    padding: 144px 0;
	}

	#clinic-section .left-area {
		padding-right: 0;
	}

	#clinic-section .image-box {
		margin: 0 auto 30px;
	}

	#clinic-section .right-area {
	    padding-left: 50px;
	    max-width: 656px;
	    width: 100%;
	}

	#testimonials-section {
	    padding: 0 0 200px;
	}

	#testimonials-section .testimonials-section-inner {
	    padding: 120px 50px 0;
	}

	footer .footer-top {
	    padding: 72px 50px 84px;
	}
}





/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 25px;
		line-height: 35px;
	}

	.section-header-primary {
	    margin: 0 auto 40px;	
	}

	.section-header-primary h4 {
	    margin-bottom: 20px;
	}

	.section-header-secondary {
	    margin-bottom: 15px;
	}

	.section-header-secondary h4 {
	    margin-bottom: 10px;
	}

	.testimonial-style-1 {
		padding: 30px 33px 37px;
	}

	.testimonial-style-1 .five-starts-icon {
	    margin-bottom: 20px;
	}

	.testimonial-style-1 .quote-icon {
		max-width: 60px;
		top: -30px;
	}

	.testimonial-style-1 p {
	    font-size: 11.9286px;
		line-height: 22px;
		margin-bottom: 20px;
	}

	.testimonial-style-1 .name, .testimonial-style-1 .date {
		font-size: 11px;
	}

	header {
		background: #EEF5F4;
		padding: 0;
	}

	header.active {
	    background: #EEF5F4;
	}

	header .logo {
		max-width: 120px;
		margin-right: 10px;
	}

	header.active .logo .logo-small {
	    display: none;
	}

	header.active .logo .logo-big {
	    display: block;
	}

    header .menu {
	    display: none;
	}

	header .mobile-menu {
	    display: block;
	}

	header .button-box .btn {
		padding: 5px;
		border-radius: 50%;
		min-width: 40px;
		height: 40px;
		display: inline-block;
		line-height: 26px;
		margin-right: 5px;
		background: #ED99B5;
	}

	header .button-box .btn .text {
		display: none;
	}

	header .button-primary .icon-left {
	    margin-right: 0;
	}

	header .button-secondary .icon-left {
	    margin-right: 0;
	}

	header .button-box .btn:last-child {
	    margin-right: 10px;
	}

	header .slicknav_menu {
	    padding: 0;
	    background: transparent;
	}

	header .slicknav_btn {
	    margin: 0;
	    text-shadow: none;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    border-radius: 50%;
	    background-color: #65A08C;
	    width: 40px;
		height: 40px;
		text-align: center;
		position: relative;
	}

	header .slicknav_menu .slicknav_icon-bar {
	    width: 20px;
	    height: 2px;
	    box-shadow: none;
	}

	header .slicknav_menu .slicknav_no-text {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    width: 20px;
	    height: 12px;
	}

	header .slicknav_nav {
	    position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: #EEF5F4;
		text-align: center;
		height: 100vh;
	}

	header .slicknav_nav a {
		font-size: 35px;
		font-weight: 500;
		line-height: 55px;
		color: #252C29;
	}

	header .slicknav_nav li ul li a {
		font-size: 25px;
		line-height: 35px;
	}

	#hero-section {
		padding: 0 0 50px;
	}

	#hero-section .hero-section-inner {
	    padding: 65px 0 0;
	}

	#hero-section:before {
	    display: none;
	}

	#hero-section h1 {
		max-width: 595px;
		width: 100%;
		line-height: 60px;
		margin: 0 auto 30px;
	}

	#hero-section .left-area {
	    padding: 40px 0 20px 0;
	    text-align: center;
	}

	#hero-section .left-area p {
		max-width: 736px;
		width: 100%;
		margin: 0 auto 40px;
	}

	#hero-section .right-area .effect-image {
		display: none;
	}

	#hero-section .right-area .featured-image {
	    margin: 0 auto;
	    display: block;
	}

	#hero-section .right-area .testimonial-style-1 {
		left: initial;
		bottom: initial;
		margin: -100px auto 0;
		max-width: initial;
		position: relative;
	}

	#offer-section {
	    padding: 60px 0 96px;
	}

	#offer-section::before {
	    display: none;
	}

	#offer-section .offer-item {
	    width: 50%;
	    padding: 0 10px;
	    margin-bottom: 20px;
	}

	#offer-section .inner-box p {
		font-size: 10px;
	}

	#offer-section .button-box {
	    padding-top: 20px;
	}

	#highlight-section {
	    padding: 50px 0 70px;
	}

	#highlight-section .right-area {
	    padding-top: 0;
	    padding-left: 0;
	    text-align: center;
	    margin-bottom: 60px;
	}

	#highlight-section .left-area {
	    padding-right: 0;
	}

	#useful-section {
	    padding: 50px 0 95px;
	    position: relative;
	}

	#useful-section::before {
	    display: none;
	}

	#useful-section .section-header-primary {
	    margin: 0 auto 70px;
	}

	#useful-section .tab-buttons {
	    text-align: left;
	    margin-bottom: 70px;
	}

	#useful-section .tab-buttons ul {
	    display: -ms-flexbox !important;
		display: flex !important;
		overflow-x: scroll;
	}

	#useful-section .tab-contents {
	    margin-bottom: 48px;
	}

	#useful-section .button-box {
	    padding-top: 5px;
	}

	#clinic-section {
	    padding: 80px 0;
	}

	#clinic-section .left-area {
	    padding-right: 0;
	}

	#clinic-section .right-area {
	    padding-left: 0;
	}

	#testimonials-section {
	    padding: 0 0 220px;
	}

	#testimonials-section .testimonials-section-inner {
	    padding: 60px 0 0;
	    background: #252C29;
	}

	#testimonials-section .section-header-secondary {
	    margin-bottom: 50px;
	    padding-right: 0;
	    text-align: center;
	}

	#testimonials-section .owl-nav {
		position: initial;
		margin-top: 0;
		text-align: center;
	}

	footer .footer-top {
	    padding: 72px 0 50px;
	}

	footer .footer-top .logo {
		max-width: 215px;
	    margin-bottom: 32px;
	} 

	footer .footer-item {
	    padding-top: 60px;
	    width: 100%;
	}
}





/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 576px) and (max-width: 767px) { 

}