/* Defult CSS */
html,
body {
    min-height: 100%;
}

.container {
    max-width: 1300px;
}

img {
    max-width: 100%;
}

.owl-carousel .owl-item img {
    display: initial;
    width: initial;
}

.testimonial-style-1 {
    padding: 40px 42px 47px;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    position: relative;
}

.testimonial-style-1 .quote-icon {
    position: absolute;
    top: -43px;
    right: 60px;
}

.testimonial-style-1 .five-starts-icon {
    margin-bottom: 27px;
}

.testimonial-style-1 p {
    font-style: italic;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 26px;
}

.testimonial-style-1 .name {
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    display: block;
    text-transform: uppercase;
}

.testimonial-style-1 .date {
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    display: block;
    color: #65A08C;
}


/* Typograpgy */
body {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    overflow-x: hidden;
}

p {
    line-height: 35px;
}

h1 {
    font-weight: 800;
    font-size: 70px;
    line-height: 75px;
    margin-bottom: 25px;
}

h1 strong {
    color: #65A08C;
}

h2 {
    font-size: 35px;
    font-weight: 800;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

h4 {
    font-size: 20px;
    font-weight: 600;
}

.button-primary {
    min-width: 242px;
    font-size: 15.9714px;
    line-height: 19px;
    color: #fff;
    background: #65A08C;
    border-radius: 100px;
    padding: 21px 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.button-primary.sm {
    display: inline;
    padding: 11px 15px;
    border-radius: 61px;
    letter-spacing: initial;
    text-transform: initial;
}

.button-primary .icon-left {
    margin-right: 5px;
}

.button-primary:hover {
    color: #fff;
}

.button-secondary {
    min-width: 242px;
    font-size: 15.9714px;
    line-height: 19px;
    color: #fff;
    background: #ED99B5;
    border-radius: 100px;
    padding: 21px 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.button-secondary.sm {
    display: inline;
    padding: 11px 15px;
    border-radius: 61px;
    letter-spacing: initial;
    text-transform: initial;
}

.button-secondary .icon-left {
    margin-right: 5px;
}

.button-secondary:hover {
    color: #fff;
}

.section-header-primary {
    max-width: 680px;
    margin: 0 auto 70px;
    text-align: center;
}

.section-header-primary h4 {
    color: #65A08C;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 27px;
}

.section-header-primary h2 {
    font-weight: 800;
    line-height: 45px;
}

.bg-light-green {
    background: #ECF4F2;
}

.section-header-secondary h4 {
    color: #65A08C;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 15px;
}

.section-header-secondary h2 {
    font-weight: 800;
    line-height: 45px;
    margin-bottom: 36px;
}

.section-header-secondary p {
    line-height: 35px;
    margin-bottom: 57px;
}

.page-padding-top {
    margin-top: 150px;
}

.bg-blue {
    background: #005EB8;
}

.bg-green {
    background: #65A08C;
}


/* Header Area */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

header.active {
    background: #fff;
}

header .container {
    max-width: 1530px;
}

header .logo {
    max-width: 180px;
    width: 100%;
    padding: 20px 0;
    margin-right: 20px;
}

header .logo .logo-small {
    display: none;
}

header.active .menu {
    display: none;
}

header.active .logo .logo-small {
    display: block;
}

header.active .logo .logo-big {
    display: none;
}

header .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header .menu ul li {
    display: inline-block;
    position: relative;
}

header .menu ul li:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

header .menu ul li.has-submenu:before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 11px;
    height: 6px;
    background: url("../img/icons/caret-down.png") no-repeat;
    margin-top: -3px;
}

header .menu > ul > li > ul {
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 293px;
    background: #FFFFFF;
    border-radius: 0px 0px 50px 50px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: 0.6s;
    padding: 27px 0;
}

header .menu > ul > li > ul li {
    display: block;
}

header .menu > ul > li > ul li a:hover {
    background: #65A08C;
    color: #fff;
}

header .menu ul li:last-child {
    margin-right: 0;
}

header .menu ul li a {
    text-decoration: none;
    font-size: 17px;
    line-height: 21px;
    color: #252C29;
    padding: 12px 40px;
    display: block;
    -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
    -ms-transition: 0.3s;
     -o-transition: 0.3s;
        transition: 0.3s;
}

header .menu > ul > li > a {
    padding: 60px 20px;
}

header .button-box {
    margin-left: auto;
}

header .button-box .btn {
    margin-right: 30px;
}

header .button-box .btn:last-child {
    margin-right: 0;
}

header .mobile-menu {
    display: none;
}


/* Hero Section */
#hero-section {
    padding: 0 0 140px;
    position: relative;
}

#hero-section:before {
    content: url(../img/hero/bg.png);
    position: absolute;
    top: 0;
    left: 0;
}

#hero-section .hero-section-inner {
    padding: 190px 0 0;
    background: #FAFAFA;
}

#hero-section .container {
    max-width: 1530px;
}

#hero-section .buttons-box {
    margin-top: 50px;
}

#hero-section .left-area {
    padding: 100px 0 0 50px;
}

#hero-section .right-area {
    position: relative;
}

#hero-section .right-area .testimonial-style-1 {
    position: absolute;
    left: -40px;
    bottom: -140px;
    max-width: 457px;
}


/* Offer Section  */
#offer-section {
    padding: 185px 0 227px ;
    position: relative;
}

#offer-section::before {
    content: url(../img/offer-img/bg.png);
    position: absolute;
    bottom: 0;
    right: 0;
}

#offer-section .offer-item {
    width: 20%;
    padding: 0 20px;
}

#offer-section .inner-box {
    background: #FFFFFF;
    box-shadow: 0px 3.12329px 15.6164px rgba(0, 0, 0, 0.1);
    border-radius: 0px 78.0822px;
    padding: 25px 10px;
    border: 0.780822px solid transparent;
    transition: .3s;
}

#offer-section .inner-box:hover {
    border: 0.780822px solid #65A08C;
}

#offer-section .inner-box p {
  font-size: 16px;
  line-height: 35.14px;
  font-weight: 600px;
}

#offer-section .button-box {
    padding-top: 70px;
}

/*About Section*/
#about-section {
    padding: 193px 0 214px;
}

#about-section .left-area {
    padding-right: 35px;
}

#about-section .right-area {
    padding-top: 35px;
    padding-left: 35px;
}



/* Useful Section */
#useful-section {
    padding: 150px 0 166px;
    position: relative;
}

#useful-section:before {
    content: url(../img/useful/bg.png);
    position: absolute;
    bottom: 0;
    right: 0;
}

#useful-section .section-header-primary {
    max-width: 766px;
    margin: 0 auto 124px;
}

#useful-section .tab-buttons {
    text-align: center;
    margin-bottom: 87px;
}

#useful-section .tab-buttons ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#useful-section .tab-buttons ul li {
    display: inline-block;
    margin-right: 40px;
}

#useful-section .tab-buttons ul li:last-child {
    margin-right: 0;
}

#useful-section .tab-buttons ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    color: #252C29;
    letter-spacing: 0.1em;
}

#useful-section .tab-buttons ul li a.active {
    color: #65A08C;
    border-bottom: 2px solid #65A08C; 
}

#useful-section .tab-contents {
    margin-bottom: 63px;
}

#useful-section .button-box {
    text-align: center;
    padding-top: 55px;
}


/* Our Clinic Section */
#clinic-section {
    padding: 230px 0 120px;
}

#clinic-section .left-area {
    padding-right: 38px;
}

#clinic-section .right-area {
    padding-left: 38px;
    padding-top: 50px;
}

#clinic-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#clinic-section ul li {
    line-height: 40px;
}

#clinic-section ul li img {
    padding-right: 20px;
}

#clinic-section ul li a {
    text-decoration: none;
    color: #252C29;
}

#clinic-section .image-box {
    border-radius: 0px 150px;
    position: relative;
}

#clinic-section .image-box .clinic-image {
    border-radius: 0px 150px;
}

#clinic-section .image-icon {
    width: 242px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
    color: #fff;
    background-color: #65A08C;
    border-radius: 100px;
    font-size: 15px;
    letter-spacing: 0.1em;
    padding: 6px 5px 6px 5px;
}

#clinic-section .image-icon img {
    margin-right: 20px;
}


/* Testimonials Section */
#testimonials-section {
    padding: 0 0 246px;
}

#testimonials-section .testimonials-section-inner {
    padding: 174px 0 0;
    background: #252C29;
}

#testimonials-section .section-header-secondary {
    margin-bottom: 90px;
    padding-right: 300px;
}

#testimonials-section #testimonials-carousel {
    margin-bottom: -190px;
}

#testimonials-section #testimonials-carousel .testimonial-style-1  {
    margin-bottom: 50px;
}

#testimonials-section .owl-nav  {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -143px;
}

#testimonials-section .owl-nav button {
    margin: 0 6px;
}


/* Footer Section */
footer .footer-top {
    padding: 72px 0 188px;
}

footer .footer-top .logo {
    margin-bottom: 44px;
}

footer .footer-top p {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 46px;
}

footer .footer-item {
    padding-top: 100px;
}

footer .footer-item h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #000000;
    margin-bottom: 20px;
}

footer .footer-item ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .footer-item ul li {
    line-height: 50px;
}

footer .footer-item ul li a {
    text-decoration: none;
    color: #000;
}

footer .footer-bottom {
    background: #252C29;
    padding: 30px 0 30px;
}

footer .footer-bottom p {
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    padding: 0;
    margin: 0;
}

footer .footer-bottom p a {
    text-decoration: none;
    color: #fff;
}


/* Page Header Primary Section */
#page-header-primary {
    padding-bottom: 426px;
}

#page-header-primary .page-header-inner {
    background: #ECF4F2;
    border-radius: 0 0 200px 200px;
}

#page-header-primary .page-header-primary {
    padding-top: 124px;
}

#page-header-primary .page-header-primary h4 {
    color: #65A08C;
    line-height: 35px;
    letter-spacing: 0.1em;
}

#page-header-primary .page-header-primary h1 {
   margin-bottom: 148px;
}

#page-header-primary .page-section-image {
    border-radius: 0px 150px;
    margin-bottom: -356px;
}


/* Testimonial Section Two */
#testimonial-section-two {
    padding: 145px 0 132px;
}

#testimonial-section-two .testimonials-box {
    max-width: 990px;
    width: 100%;
    margin: 0 auto;
}

#testimonial-section-two .testimonial-item {
    width: 50%;
    padding: 0 19px;
    margin-bottom: 38px;
}

#testimonial-section-two .testimonial-item:nth-child(2) {
    margin-top: 97px;
}

#testimonial-section-two .button-box {
    padding-top: 48px;
}


/* CTA Section Primary */
#cta-section-primary {
    padding: 173px 0 189px;
    color: #fff;
}

#cta-section-primary .button-primary {
    background: #ED99B5;
}

#cta-section-primary h4 {
    line-height: 35px;
    letter-spacing: 0.1em;
    margin-bottom: 13px;
}

#cta-section-primary h2 {
    line-height: 45px;
    margin-bottom: 40px;
}

#cta-section-primary p {
    line-height: 40px;
    margin-left: 24px;
}


/* Alternative Section */
#alternative-section {
    padding: 147px 0 184px;
    border: 1px solid #E0E0E0;
}

#alternative-section .alternative-item {
    width: 20%;
    padding: 0 20px;
}

#alternative-section .inner-box {
    background: #FFFFFF;
    box-shadow: 0px 3.12329px 15.6164px rgba(0, 0, 0, 0.1);
    border-radius: 0px 78.0822px;
    padding: 25px 10px;
    border: 0.780822px solid transparent;
    transition: .3s;
}

#alternative-section .inner-box:hover {
    border: 0.780822px solid #65A08C;
}

#alternative-section .inner-box p {
  font-size: 16px;
  line-height: 35.14px;
  font-weight: 600px;
}


/* Page Details Section */
#page-details-section {
    padding: 70px 0 189px;
}

#page-details-section .details-list-box {
    width: 367px;
    border-right: 1px solid #C7C7C7; 
}

#page-details-section .details-list-box ul {
    list-style: none;
    margin: 0 0 39px;
    padding: 0;   
}

#page-details-section .details-list-box ul li a {
    text-decoration: none;
    color: #000;
    font-size: 30px;
    line-height: 70px;
}

#page-details-section .details-list-box ul li a.active {
    color: #65A08C;
    font-weight: 600;
    letter-spacing: 2%;
    padding-left: 40px;
}

#page-details-section .details-item-box {
    width: calc(100% - 367px);
    padding-left: 100px;
}

#page-details-section .details-item-box h2 {
    line-height: 45px;
    margin-bottom: 40px;
}

#page-details-section .details-list-box ul {
    list-style: none;
    margin: 0 0 39px;
    padding: 0;   
}

#page-details-section .details-list-box ul li a {
    text-decoration: none;
    color: #000;
    font-size: 30px;
    line-height: 70px;
}

#page-details-section .details-list-box ul li a.active {
    color: #65A08C;
    font-weight: 600;
    letter-spacing: 2%;
    padding-left: 40px;
    position: relative;
}

#page-details-section .details-list-box ul li a.active::before {
    content: "";
    position: absolute;
    width: 31px;
    height: 2px;
    top: 50%;
    left: 0;
    margin-top: -1px;
    display: block;
    background:  #65A08C;
}

#page-details-section .details-item-box {
    width: calc(100% - 367px);
    padding-left: 100px;
}

#page-details-section .details-item-box h2 {
    line-height: 45px;
    margin-bottom: 40px;
}

#page-details-section .details-item-box p {
    margin-bottom: 60px;
}

#page-details-section .table-responsive tr th {
    padding: 16px 0;
    border-top: 1px solid #65A08C;
    border-bottom: 1px solid #65A08C;
    font-weight: 600;
    line-height: 35px;
    color: #65A08C;
}

#page-details-section .table-responsive tr th:nth-child(2) {
    text-align: left;
}

#page-details-section .table-responsive tr th:nth-child(3) {
    text-align: right;
}

#page-details-section .table-responsive tr td {
    padding: 0;
    border: none;
    line-height: 60px;
}

#page-details-section .table-responsive .table {
    margin-bottom: 86px;
}

#page-details-section .table-responsive tr td:nth-child(2) {
    text-align: left;
}

#page-details-section .table-responsive tr td:nth-child(3) {
    text-align: right;
}

/* Our Clinic Section */
#our-clinic-section {
    padding: 154px 0 187px;
}

#our-clinic-section .section-header-secondary {
    padding-right: 300px;
    margin-bottom: 90px;
}

#our-clinic-section .owl-carousel:before {
    content: "";
    height: 18px;
    width: 100%;
    position: absolute;
    top:  50%;
    left: 50px;
    margin-top: -9px;
    background: #65A08C;
}

#our-clinic-section .our-clinic-item {
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    padding: 72px 30px 50px;
}

#our-clinic-section .our-clinic-item .number {
    font-weight: 800;
    font-size: 80px;
    line-height: 25px;
    color: #65A08C;
    opacity: 0.1;
    position: absolute;
    top: 50px;
    left: 30px;
}

#our-clinic-section .owl-nav  {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -143px;
}

#our-clinic-section .owl-nav button {
    margin: 0 6px;
}

/* Hero Section Two */
#hero-section-2 {
    padding: 0 0 165px;
}
#hero-section-2 .hero-section-two-inner{
    background: #ECF4F2;
    border-radius: 0px 0px 0px 150px;
    padding-top: 122px
}

#hero-section-2 .hero-text {
    padding-top: 191px;
}

#hero-section-2 .hero-text h4 {
    color: #65A08C;
    letter-spacing: 0.1em;
    line-height: 35px;
}

#hero-section-2 .hero-text h1 {
    margin-bottom: 36px;
}

#hero-section-2 .hero-text p {
    margin-bottom: 50px;
}

#hero-section-2 .hero-two-image {
    border-radius: 0px 150px;
    margin-bottom: -90px;
}





